<ion-view title="Creer une table" id="page2" style="background-color:at;">
  <ion-content padding="true" class="has-header">
    <h3 id="creerUneTable-heading9" style="color:#000000;">Inviter des amis</h3>
    <form id="creerUneTable-form3" class="list">
      <label class="item item-input" id="creerUneTable-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="searchText">
      </label>
      <h4 id="amis-heading7" style="color:#000000;">Amis connectés</h4>
      <ion-list id="amis-list11">
        <ion-item ng-repeat="connectedFriend in connectedFriends | filter:{name:searchText}" class="item-avatar item-icon-right" id="amis-list-item35" ui-sref="menu.detailsUtilisateur({userId:connectedFriend.id})">
          <img src="{{connectedFriend.photoUrl}}">
          <h2dark>{{connectedFriend.name}}</h2dark>
          <p>{{connectedFriend.restaurant.name}}</p>
          <i class="icon balanced ion-plus" ng-click="addFriend($event,connectedFriend)"></i>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <h4 id="amis-heading8" style="color:#000000;">Amis déconnectés</h4>
      <ion-list id="amis-list12">
        <ion-item ng-repeat="disconnectedFriend in disconnectedFriends | filter:{name:searchText}" class="item-avatar item-icon-right" id="amis-list-item37" ui-sref="menu.detailsUtilisateur({userId:disconnectedFriend.id})">
          <img src="{{disconnectedFriend.photoUrl}}">
          <h2dark>{{disconnectedFriend.name}}</h2dark>
          <i class="icon balanced ion-plus" ng-click="addFriend($event,disconnectedFriend)"></i>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
