<ion-view title="Amis au Grillon" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="amisRestaurant-heading11" style="color:#000000;">Amis au Grillon</h3>
    <ion-list id="amisRestaurant-list15">
      <ion-item class="item-avatar" id="amisRestaurant-list-item61" ui-sref="menu.detailsUtilisateur">
        <img src="img/8CRsNuzVR1ipBZuM3w9J_matthew.png">
        <h2>Maurice Richard</h2>
      </ion-item>
      <ion-item class="item-avatar" id="amisRestaurant-list-item62">
        <img src="img/OYTClsvmQtqII4jL4vy9_elyse.png">
        <h2>Marceline Dupont</h2>
      </ion-item>
      <ion-item class="item-avatar" id="amisRestaurant-list-item63">
        <img src="img/EexJ19YWRQqVqu6DBgM7_jenny.jpg">
        <h2>Claire Mangenot</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
