<ion-view title="Amis à {{restaurant.name}}" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="amisRestaurant-heading11" style="color:#000000;">Amis à {{restaurant.name}}</h3>
    <ion-list id="amisRestaurant-list15">
      <ion-item ng-repeat="friend in restaurant.fullFriends" class="item-avatar" id="amisRestaurant-list-item61" ui-sref="menu.detailsUtilisateur({userId:friend.id})">
        <img src="{{friend.photoUrl}}">
        <h2>{{friend.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
