<ion-view title="Amis" id="page3">
  <ion-content padding="true" class="has-header">
    <h4 id="amis-heading7" style="color:#000000;">Amis connectés</h4>
    <ion-list id="amis-list11">
      <ion-item class="item-avatar" id="amis-list-item35" ui-sref="menu.detailsUtilisateur">
        <img src="img/8TPlInS9KauwPoYRRwDA_matthew.png">
        <h2>Maurice Richard</h2>
        <p>Le Grillon</p>
      </ion-item>
      <ion-item class="item-avatar" id="amis-list-item36" ui-sref="menu.detailsUtilisateur">
        <img src="img/8SO5xT5GRkq5cFBqVzXA_molly.png">
        <h2>Fabienne Gentille</h2>
        <p>Le Prévert</p>
      </ion-item>
      <ion-item class="item-avatar" id="amis-list-item38" ui-sref="menu.detailsUtilisateur">
        <img src="img/h4u3tLyTmunQEKtyp3m1_elliot.jpg">
        <h2>Patrick LeBeau</h2>
        <p>Le RU</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <h4 id="amis-heading8" style="color:#000000;">Amis déconnectés</h4>
    <ion-list id="amis-list12">
      <ion-item class="item-avatar" id="amis-list-item37" ui-sref="menu.detailsUtilisateur">
        <img src="img/06fzdCPKRA2KYGSfZsEA_steve.jpg">
        <h2>Arthur LeGrand</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>