<ion-view title="Choix d'un Restaurant" id="page13">
  <ion-content padding="true" class="has-header">
    <h4 id="choixDUnRestaurant-heading18" style="color:#000000;">Choisir une heure</h4>
    <form id="choixDUnRestaurant-form6" class="list">
      <label class="item item-input" id="choixDUnRestaurant-input3">
        <span class="input-label">Rendez-Vous</span>
        <input type="time" placeholder="12 : 30">
      </label>
    </form>
    <h4 id="choixDUnRestaurant-heading16" style="color:#000000;">Suggestion</h4>
    <ion-list id="choixDUnRestaurant-list25">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="choixDUnRestaurant-list-item40" ui-sref="menu.detailsRestaurant">
        <img src="img/GIFZj6cSDi3TJ54nzzA3_Grillon.jpg">
        <h2balanced>Le Grillon
          <p>3 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
    <div id="choixDUnRestaurant-button-bar4" class="button-bar">
      <a ui-sref="menu.detailsRestaurant" id="choixDUnRestaurant-button16" class="button button-dark  button-block button-outline">Détails</a>
      <a ui-sref="menu.maTable" id="choixDUnRestaurant-button17" class="button button-positive  button-block">Choisir</a>
    </div>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <h4 id="choixDUnRestaurant-heading17" style="color:#000000;">Restaurants</h4>
    <ion-list id="choixDUnRestaurant-list17">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="choixDUnRestaurant-list-item31" ui-sref="menu.detailsRestaurant">
        <img src="img/fkKm5ENQfuB1GEIBcCbg_Prvert.jpg">
        <h2balanced>Le Prévert
          <p>2 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="choixDUnRestaurant-list-item56" ui-sref="menu.detailsRestaurant">
        <img src="img/NvH90lLETLGpMlNKhaL7_RestaurantINSA.jpg">
        <h2balanced>Le Castor et Pollux
          <p>5 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="choixDUnRestaurant-list-item58" ui-sref="menu.detailsRestaurant">
        <img src="img/LWgbS63FQgizB62JmvwI_RestoUJussieu.jpg">
        <h2assertive>Le RU
          <p>12 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="choixDUnRestaurant-list-item64" ui-sref="menu.detailsRestaurant">
        <img src="img/1kejlAouRV6fGnvatQ0Q_Grignote.jpg">
        <h2assertive>La Grignotte
          <p>15 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="choixDUnRestaurant-list-item66" ui-sref="menu.detailsRestaurant">
        <img src="img/hsVuEUmESOyRsc9HVSkz_Olivier.jpg">
        <h2assertive>L'Olivier
          <p>20 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>