<ion-view title="Creer une table" id="page2" style="background-color:at;">
  <ion-content padding="true" class="has-header">
    <h3 id="creerUneTable-heading9" style="color:#000000;">Inviter des amis</h3>
    <form id="creerUneTable-form3" class="list">
      <label class="item item-input" id="creerUneTable-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar balanced" id="creerUneTable-list-item30" ui-sref="menu.detailsUtilisateur">
        <img src="img/ALczP3WxReShCyv4uXt9_elliot.jpg">
        <h2balanced>Patrick LeBeau
          <p>Disponible</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar balanced" id="creerUneTable-list-item22">
        <img src="img/ztUeI89R9ynqAi6pvMVQ_matthew.png">
        <h2balanced>Maurice Richard
          <p>Disponible</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar dark" id="creerUneTable-list-item23" ui-sref="menu.detailsUtilisateur">
        <img src="img/DFZphFTIQyWQlKpWcQrU_molly.png">
        <h2dark>Fabienne Gentille
          <p>Le Prévert ~10 min</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar assertive" id="creerUneTable-list-item21" ui-sref="menu.detailsUtilisateur">
        <img src="img/tulk391RHSC2G3CcJULx_steve.jpg">
        <h2assertive>Arthur LeGrand
          <p>Déconnecté</p>
        </h2assertive>
      </ion-item>
      <a ui-sref="menu.choixDUnRestaurant" id="creerUneTable-button4" class="button button-positive  button-block">Inviter 2 personnes</a>
    </form>
  </ion-content>
</ion-view>