<ion-view title="Details Utilisateur" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="detailsUtilisateur-card22">
      <ion-item class="item-avatar" id="detailsUtilisateur-list-item41">
        <img src="{{user.photoUrl}}">
        <h2>{{user.name}}</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="{{user.restaurant.photoUrl}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item ng-if="user.restaurant.waitingTime<=5" class="item-icon-left balanced" id="detailsUtilisateur-list-item42" ui-sref="menu.detailsRestaurant({restaurantId:user.restaurant.id})">
        <i class="icon ion-pizza"></i>{{user.restaurant.name}}
        <span class="item-note">{{user.restaurant.waitingTime}} min</span>
      </ion-item>
      <ion-item ng-if="user.restaurant.waitingTime>5 && user.restaurant.waitingTime<=10" class="item-icon-left energized" id="detailsUtilisateur-list-item42" ui-sref="menu.detailsRestaurant({restaurantId:user.restaurant.id})">
        <i class="icon ion-pizza"></i>{{user.restaurant.name}}
        <span class="item-note">{{user.restaurant.waitingTime}} min</span>
      </ion-item>
      <ion-item ng-if="user.restaurant.waitingTime>10" class="item-icon-left assertive" id="detailsUtilisateur-list-item42" ui-sref="menu.detailsRestaurant({restaurantId:user.restaurant.id})">
        <i class="icon ion-pizza"></i>{{user.restaurant.name}}
        <span class="item-note">{{user.restaurant.waitingTime}} min</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="detailsUtilisateur-list-item43">
        <i class="icon ion-person-stalker"></i>{{user.nbCommunFriends}} amis en commun</ion-item>
    </div>
  </ion-content>
</ion-view>
