<ion-view title="Details Utilisateur" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="detailsUtilisateur-card22">
      <ion-item class="item-avatar" id="detailsUtilisateur-list-item41">
        <img src="img/PA28e8RgaPot2x3AswGQ_matthew.png">
        <h2>Maurice Richard</h2>
      </ion-item>
      <div class=" item item-image">
        <img src="img/2OwPRvw5RFCdgOM2QPdI_Grillon.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left balanced" id="detailsUtilisateur-list-item42" ui-sref="menu.detailsRestaurant">
        <i class="icon ion-pizza"></i>Le Grillon
        <span class="item-note">3 min</span>
      </ion-item>
      <ion-item class="item-icon-left dark" id="detailsUtilisateur-list-item43">
        <i class="icon ion-person-stalker"></i>6 amis en commun</ion-item>
    </div>
  </ion-content>
</ion-view>
