<ion-view title="Discussion" id="page15">
  <ion-content padding="true" class="has-header">
    <h3 id="discussionTable-heading" style="color:#000000;">Discussion table</h3>
    <ion-list id="discussionTable-list">
		<div class="chat-div chat-div-user">
		Salut tout le monde ! On se donne rendez-vous devant l'entrée principale.
		</div>
		<div class="chat-div">
		Bien reçu !
		</div>
		<div class="chat-div">
		Faites la queue sans moi j'aurais du retard, désolé :(
		</div>
		<div class="chat-div chat-div-user">
		Pas de soucis ;)
		</div>
    </ion-list>
  </ion-content>
</ion-view>
