<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="text-align : center;">
	  <img src = "img/logo2.jpg" style ="max-width: 100%; height: auto">
    </div>
    <form id="login-form1" class="list">
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Login">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Mot de Passe">
        </label>
      </div>
      <a ng-click="connectINSA()" id="login-button1" class="button button-stable  button-block">Connexion INSA</a>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <a ng-click="connectFacebook()" id="login-button2" class="button button-positive  button-block">Facebook</a>
      <a ng-click="connectGoogle()" id="login-button3" class="button button-assertive  button-block">Google</a>
    </form>
  </ion-content>
</ion-view>
