<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <form id="login-form1" class="list">
      <a ui-sref="menu.restaurants" id="login-button1" class="button button-positive  button-block">Facebook</a>
      <a ui-sref="menu.restaurants" id="login-button3" class="button button-assertive  button-block">Google</a>
    </form>
  </ion-content>
</ion-view>
