<ion-view title="Map" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px;height: 400px;">
      <ng-map style="height: 100%;" center="[{{restaurants[0].location.lat}},{{restaurants[0].location.long}}]">
        <marker ng-repeat="restaurant in restaurants" position="[{{restaurant.location.lat}},{{restaurant.location.long}}]" on-click="vm.selectRestaurant()"></marker>
      </ng-map>
    </div>
    <ion-list ng-if="selectedRestaurant!=null" id="map-list7">
      <ion-item ng-if="selectedRestaurant.waitingTime<=5" class="item-thumbnail-left item-icon-right balanced" id="map-list-item14" ui-sref="menu.detailsRestaurant({restaurantId:selectedRestaurant.id})">
        <img src="{{selectedRestaurant.photoUrl}}">
        <h2balanced>{{selectedRestaurant.name}}
          <p>{{selectedRestaurant.waitingTime}} minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item ng-if="selectedRestaurant.waitingTime>5 && selectedRestaurant.waitingTime<=10" class="item-thumbnail-left item-icon-right energized" id="map-list-item14" ui-sref="menu.detailsRestaurant({restaurantId:selectedRestaurant.id})">
        <img src="{{selectedRestaurant.photoUrl}}">
        <h2energized>{{selectedRestaurant.name}}
          <p>{{selectedRestaurant.waitingTime}} minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2energized>
      </ion-item>
      <ion-item ng-if="selectedRestaurant.waitingTime>10" class="item-thumbnail-left item-icon-right assertive" id="map-list-item14" ui-sref="menu.detailsRestaurant({restaurantId:selectedRestaurant.id})">
        <img src="{{selectedRestaurant.photoUrl}}">
        <h2assertive>{{selectedRestaurant.name}}
          <p>{{selectedRestaurant.waitingTime}} minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item ng-if="(sharedVariables.session.isFacebook || sharedVariables.session.isGoogle)" class="item-icon-left dark" id="detailsRestaurant-list-item25" ui-sref="menu.amisRestaurant({restaurantId:selectedRestaurant.id})">
        <i class="icon ion-person-stalker"></i>
        {{selectedRestaurant.friends.length}} amis y mangent
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
