<ion-view title="Map" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <ion-list id="map-list7">
      <ion-item class="item-thumbnail-left balanced" id="map-list-item20" ui-sref="menu.detailsRestaurant">
        <img src="img/crxmQIvT5md2Cf4a4hwb_Grillon.jpg">
        <h2balanced>Le Grillon
          <p>3 min d'attente</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar" id="map-list-item47">
        <h2>3 amis y mangent</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
