<ion-view title="Ma Table vide" id="page15">
  <ion-content padding="true" class="has-header">
    <h4 id="maTableVide-heading22" style="color:#000000;text-align:center;">Vous n'avez pas de table</h4>
    <a ui-sref="menu.creerUneTable" id="maTableVide-button12" class="button button-positive  button-block">Créer une table</a>
    <h4 id="maTableVide-heading23" style="color:#000000;text-align:center;">Invitations (2)</h4>
    <ion-list id="maTableVide-list27">
      <ion-item class="item-avatar" id="maTableVide-list-item80" ui-sref="menu.detailsUtilisateur">
        <img src="img/INUnd3urQDaHIyH3YscY_matthew.png">
        <h2>Maurice Richard</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="maTableVide-list-item82" ui-sref="menu.detailsRestaurant">
        <img src="img/1wAmdYkgSL2FM34AkJiV_Grillon.jpg">
        <h2>Le Grillon</h2>
        <p>rdv : 12 : 30</p>
      </ion-item>
    </ion-list>
    <div id="maTableVide-button-bar2" class="button-bar">
      <a ui-sref="menu.detailsRestaurant" id="maTableVide-button10" class="button button-dark  button-block button-outline">Détails</a>
      <a ui-sref="menu.maTable" id="maTableVide-button13" class="button button-positive  button-block">Choisir</a>
    </div>
    <div class="spacer" style="width: 283px; height: 25px;"></div>
    <ion-list id="maTableVide-list28">
      <ion-item class="item-avatar" id="maTableVide-list-item81" ui-sref="menu.detailsUtilisateur">
        <img src="img/SwxiBdTxSP2cTU0X8gbb_elliot.jpg">
        <h2>Patrick LeBeau</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="maTableVide-list-item83" ui-sref="menu.detailsRestaurant">
        <img src="img/bmMMtaC4QduRtoVlhAQu_Grillon.jpg">
        <h2>Le Grillon</h2>
        <p>rdv : 13 : 00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
