<ion-view title="Ma Table" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="maTable-list23">
      <ion-item class="item-thumbnail-left item-icon-right" id="maTable-list-item74" ui-sref="menu.detailsRestaurant">
        <img src="img/9WsjpBXSEqBTbStH7Orz_Grillon.jpg">
        <h2>Le Grillon</h2>
        <p>rdv : 12 : 30</p>
        <i class="icon ion-edit"></i>
      </ion-item>
    </ion-list>
    <h4 id="maTable-heading20" style="color:#000000;">3 personnes</h4>
    <ion-list id="maTable-list24">
      <ion-item class="item-avatar" id="maTable-list-item75" ui-sref="menu.detailsUtilisateur">
        <img src="img/m3ZNmcAeSeSF7T3JsdcU_matthew.png">
        <h2>Maurice Richard</h2>
      </ion-item>
      <ion-item class="item-avatar" id="maTable-list-item76" ui-sref="menu.detailsUtilisateur">
        <img src="img/bpdJVT8jQGtoBUx7fvZC_elliot.jpg">
        <h2>Patrick LeBeau</h2>
      </ion-item>
    </ion-list>
    <button id="maTable-button11" class="button button-positive  button-block">Discussion (2)</button>
  </ion-content>
</ion-view>