<ion-view title="Menus" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="menus-heading4" style="color:#000000;">Entrée</h3>
    <ion-list id="menus-list8">
      <ion-item ng-repeat="entree in menus.entrees" class="item-thumbnail-left" id="menus-list-item27" ui-sref="menu.detailsPlat({plat:entree})">
        <img src="{{entree.photoUrl}}">
        <h2>{{entree.name}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h3 id="menus-heading5" style="color:#000000;">Plats</h3>
    <ion-list id="menus-list9">
      <ion-item ng-repeat="plat in menus.plats" class="item-thumbnail-left" id="menus-list-item29" ui-sref="menu.detailsPlat({plat:plat})">
        <img src="{{plat.photoUrl}}">
        <h2>{{plat.name}}</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h3 id="menus-heading6" style="color:#000000;">Desserts</h3>
    <ion-list id="menus-list10">
      <ion-item ng-repeat="dessert in menus.desserts" class="item-thumbnail-left" id="menus-list-item32" ui-sref="menu.detailsPlat({plat:dessert})">
        <img src="{{dessert.photoUrl}}">
        <h2>{{dessert.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
