<ion-view title="Menus" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="menus-heading4" style="color:#000000;">Entrée</h3>
    <ion-list id="menus-list8">
      <ion-item class="item-thumbnail-left" id="menus-list-item27" ui-sref="menu.detailsPlat">
        <img src="img/QG4xqWHSQRChbYQp0xKD_Saladegrecque.jpg">
        <h2>Salade Grecque</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="menus-list-item28">
        <img src="img/gpdc86GQme4opV1U9i6J_Carottesrapes.jpg">
        <h2>Carottes rapées</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h3 id="menus-heading5" style="color:#000000;">Plats</h3>
    <ion-list id="menus-list9">
      <ion-item class="item-thumbnail-left" id="menus-list-item29">
        <img src="img/TQgtEeenT5KwQKVaDDnK_ChiliconCarne.jpg">
        <h2>Chilli con carne</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="menus-list-item45">
        <img src="img/8wobEis7R1q2g2jmZ8GD_Ctesdeporc.jpg">
        <h2>Côte de porc</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="menus-list-item46">
        <img src="img/jddOeRuRRnhbT8godYvZ_Lasagne.jpg">
        <h2>Lasagne</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 32px;"></div>
    <h3 id="menus-heading6" style="color:#000000;">Desserts</h3>
    <ion-list id="menus-list10">
      <ion-item class="item-thumbnail-left" id="menus-list-item32">
        <img src="img/3hj4RcCNTOy2Xmdpwbma_Clmentine.jpg">
        <h2>Clémentine</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="menus-list-item33">
        <img src="img/jsKvO19vQ3K6OujatPP4_Crmebrule.jpg">
        <h2>Crême brulée</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
