<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" id="side-menu21">
    <ion-header-bar class="bar-stable">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-right has-header ">
      <ion-list id="menu-list1">
        <ion-item ng-if="(sharedVariables.session.isFacebook || sharedVariables.session.isGoogle || sharedVariables.session.isINSA)" class="item-avatar" id="menu-list-item4" ui-sref="menu.parametres" menu-close="">
          <img src="{{currentUser.photoUrl}}">
          <h2>{{currentUser.name}}</h2>
          <h3 ng-if="sharedVariables.session.isINSA" style="color: white;">Solde INSA : {{currentUser.soldeINSA}} €</h3>
        </ion-item>
      </ion-list>
      <div class="spacer" style="width: 268px; height: 23px;"></div>
      <ion-list id="menu-list2">
        <ion-item class="item-icon-right" id="menu-list-item8" ui-sref="menu.restaurants" menu-close="">Restaurants
          <i class="icon ion-pizza"></i>
        </ion-item>
        <ion-item ng-if="(sharedVariables.session.isFacebook || sharedVariables.session.isGoogle)" class="item-icon-right" id="menu-list-item9" ui-sref="menu.amis" menu-close="">Amis
          <i class="icon ion-person-stalker"></i>
        </ion-item>
        <ion-item ng-if="(sharedVariables.session.isFacebook || sharedVariables.session.isGoogle)" class="item-icon-right" id="menu-list-item78" ui-sref="menu.maTable" menu-close="">Ma table
          <i class="icon ion-calendar"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item12" ui-sref="menu.map" menu-close="">Carte
          <i class="icon ion-map"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item10" ui-sref="menu.parametres" menu-close="">Paramètres
          <i class="icon ion-android-settings"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="menu-list-item11" ng-click="logout()" menu-close="">Se déconnecter
          <i class="icon ion-log-out"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
