<ion-view title="Paramètres" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="paramTres-list13">
      <ion-item class="item-avatar" id="paramTres-list-item19">
        <img src="img/HmhpIMzeSoiKRShZuoZq_daniel.jpg">
        <h2>Jean Marc Michel</h2>
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="paramTres-toggle2">Autoriser notifications</ion-toggle>
    </ion-list>
    <h3 id="paramTres-heading12" style="color:#000000;">Restaurants favoris</h3>
    <form id="paramTres-form4" class="list">
      <ion-checkbox id="paramTres-checkbox6">Le Grillon</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox7">Le Prévert</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox8">Le RU</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox9">La Grignotte</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox10">Le Castor et Pollux</ion-checkbox>
    </form>
    <h3 id="paramTres-heading21" style="color:#000000;">Régime alimentaire</h3>
    <form id="paramTres-form9" class="list">
      <ion-checkbox id="paramTres-checkbox12">Végétarien</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox13">Végétalien</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox15">Diabétique</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox14">Sans gluten</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox16">Intolérant au lactose</ion-checkbox>
      <ion-checkbox id="paramTres-checkbox17">Allergies alimentaires</ion-checkbox>
    </form>
  </ion-content>
</ion-view>