<ion-view title="Paramètres" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="parametres-list13">
      <ion-item class="item-avatar" id="parametres-list-item19" style="background-color:#e42618">
        <img src="{{currentUser.photoUrl}}">
        <h2>{{currentUser.name}}</h2>
      </ion-item>
      <a ng-if="!sharedVariables.session.isINSA" ng-click="connectINSA()" id="login-button1" class="button button-stable  button-block">Connexion INSA</a>
      <a ng-if="!sharedVariables.session.isFacebook" ng-click="connectFacebook()" id="login-button2" style="background-color: #3B5998;" class="button button-positive button-block">Facebook</a>
      <a ng-if="!sharedVariables.session.isGoogle" ng-click="connectGoogle()" id="login-button3" style="background-color: #EA4335;" class="button button-assertive  button-block">Google</a>
      <ion-toggle toggle-class="toggle-positive" ng-model="currentUser.preferences.notifications" id="parametres-toggle2">Autoriser notifications</ion-toggle>
    </ion-list>
    <h3 id="parametres-heading12" style="color:#000000;">Restaurants favoris</h3>
    <form id="parametres-form4" class="list">
      <ion-checkbox ng-model="restaurant.status" ng-repeat="restaurant in restaurants" id="parametres-checkbox6">{{restaurant.name}}</ion-checkbox>
    </form>
    <h3 id="parametres-heading21" style="color:#000000;">Régime alimentaire</h3>
    <form id="parametres-form9" class="list">
      <ion-checkbox ng-model="diet.status" ng-repeat="diet in diets" id="parametres-checkbox12">{{diet.name}}</ion-checkbox>
    </form>
  </ion-content>
</ion-view>
