<ion-view title="Restaurants" id="page1">
  <ion-content padding="true" class="has-header">
    <h4 id="restaurants-heading1" style="color:#000000;">Suggestion</h4>
    <ion-list id="restaurants-list4">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="restaurants-list-item13" ui-sref="menu.detailsRestaurant">
        <img src="img/SyeytGE1SPGWxbI7FlNH_Prvert.jpg">
        <h2balanced>Le Prévert
          <p>2 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item49">
        <i class="icon ion-person-stalker"></i>3 amis</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <h4 id="restaurants-heading2" style="color:#000000;">Restaurants</h4>
    <ion-list id="restaurants-list5">
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="restaurants-list-item14" ui-sref="menu.detailsRestaurant">
        <img src="img/6MVSuOwWSdirpgcY8oJc_Grillon.jpg">
        <h2balanced>Le Grillon
          <p>3 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item50">
        <i class="icon ion-person-stalker"></i>5 amis</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="restaurants-list-item17" ui-sref="menu.detailsRestaurant">
        <img src="img/kMfPXSMZQiumicwL4oVw_RestaurantINSA.jpg">
        <h2balanced>Le Castor et Pollux
          <p>5 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item51">
        <i class="icon ion-person-stalker"></i>4 amis</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="restaurants-list-item18" ui-sref="menu.detailsRestaurant">
        <img src="img/rvhZZtWFRICseDWhfIep_RestoUJussieu.jpg">
        <h2assertive>Le RU
          <p>12 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item52">
        <i class="icon ion-person-stalker"></i>1 amis</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="restaurants-list-item15" ui-sref="menu.detailsRestaurant">
        <img src="img/K9Q2dRfTTao1ODZsN0Qo_Grignote.jpg">
        <h2assertive>La Grignotte
          <p>15 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item53">
        <i class="icon ion-person-stalker"></i>1 amis</ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="restaurants-list-item16" ui-sref="menu.detailsRestaurant">
        <img src="img/YjmLa5ZWSQCMyvli7npG_Olivier.jpg">
        <h2assertive>L'Olivier
          <p>20 minutes d'attente</p>
          <i class="icon ion-android-time"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-icon-left" id="restaurants-list-item54">
        <i class="icon ion-person-stalker"></i>1 amis</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
